@import "reset.css";
@charset "utf-8";

body {
  font-family:Arial;
  padding:20px;

}

button {
  all: unset;
  background: steelblue;
  color:white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:0.5s;
}

.hidden {
  display:none;
}

.modal_overlay {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position:absolute;
}

.modal_content {
  width: 10%;
  background: #fff;
  padding:50px 100px;
  position:relative;
  top:0;
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align:center;
  border-radius: 15px;
}

h1 {
  margin:0;
  font-weight:800;
  font-size:2em;
}
